#RewriteEngine On
#RewriteCond %{HTTPS} !=on [OR]
#RewriteCond %{HTTP_HOST} !xn--53hx780o\.ws
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

Redirect /contact/ https://josh.diaddigo.com/#contact
Redirect /contact https://josh.diaddigo.com/#contact
Redirect /resume/ https://josh.diaddigo.com/#resume
Redirect /resume https://josh.diaddigo.com/#resume

DirectoryIndex index.html