html {
	width: 100%;
	height: 100%;
	min-width: 500px;
}

body {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	margin: 0px;
	background: #ddd; 
    box-sizing: border-box;
    font-family: AktivGroteskStd, sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-shadow: 0 -1px rgba( 0, 0, 0, 0.2), 0 1px rgba( 255, 255, 255, 0.7);
    font-weight: 100;
}

a {
	color: #a00;
}

input {
	padding: 5px;
}

.payFormLabel {
	display: inline-block;
	width: 175px;
}

#payName, #payEmail, #payCard {
	width: 161px;
}

.nav {
	position: fixed;
	top: 0px;
	height: 50px;
	width: 100%;
	background-color: #eee;
	border-bottom: 1px solid #a00;
	min-width: 500px;
	overflow: hidden;
}

.navContent {
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	line-height: 50px;
	text-align: left;
	color: rgba( 0, 0, 0, 0.5 );
}

.nav_button {
	width: 50px;
	height: 50px;
	background-size: auto 40%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	text-align: center;
	color: #a00;
	text-shadow: none;
	font-size: 12px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	display: inline-block;
}

.nav_button:hover {
	background-position: 50% 70%;
}

#nav_contact {
	margin-right: 16px;
}

#nav_projects {
	margin-right: 12px;
}

#nav_media {
	background-image: url(media.png);
}

#nav_pay {
	font-size: 20px;
	text-align: center;
	float: right;
	color: rgba( 200, 200, 200, 0.9 );
	text-shadow: 0px 1px #fff, 0px -1px #eee;
}

#nav_pay:hover {
	padding-top: 7px;
}

#nav_instagram {
	background-image: url(instagram.png);
	float: right;
}

#nav_twitter {
	background-image: url(twitter.png);
	float: right;
}

#nav_dotjoshua {
	margin: 13px;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	float: right;
	border-radius: 50%;
    box-shadow: 0px 1px 0px #fff;
}

#nav_dotjoshua:hover {
	margin-top: 18px;
}

#nav_github {
	background-image: url(github.png);
	float: right;
}

#navPointer {
	width: 50px;
	height: 3px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #a00;
	-webkit-transition: 1s;
	transition: 1s;
}

#navHover {
	width: 50px;
	height: 3px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #aaa;
	-webkit-transition: 1s;
	transition: 1s;
}

.page {
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.pageTitle {
	color: rgba( 0, 0, 0, 0.5 );
	text-shadow: 0 -1px rgba( 0, 0, 0, 0.0 ), 0 1px rgba( 255, 255, 255, 1 );
	font-size: 30px;
	font-family: AktivGroteskLight;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 40px;
}

#resume:after {
	content: "resume.pdf";
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: #a00;
	text-shadow: none;
	font-size: 18px;
	padding-top: 10px;
}

.pageLoad {
	/* Added to page while it loads. */
}

.title {
	font-size: 22px;
	color: #a00;
}

#home {
	overflow: hidden;
}

.welcomeText {
	font-size: 40px;
	font-family: AktivGroteskLight;
	color: rgba( 0, 0, 0, 0.6 );
	-webkit-transform: translateX(290px);
	transform: translateX(290px);
}

.logoContainer {
	margin-left: auto;
	margin-right: auto;
	top: 0;
	width: 250px;
	height: 100%;
}

.logoWebGL {
	width: 500px;
	height: 500px;
	-webkit-transform: scale(0.5, 0.5) translateY(-100%) translateX(-50%);
	transform: scale(0.5, 0.5) translateY(-100%) translateX(-50%);
}

.circle {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	position: absolute;
	border: 13px solid;
	border-bottom-color: rgba( 0, 0, 0, 0 );
	border-right-color: rgba( 0, 0, 0, 0 );
	-webkit-transition: 1s;
	transition: 1s;
}

#circle1 {
	border: 13px solid rgba( 0, 0, 0, 0 );
	border-top-color: #a00;
	-webkit-transform: rotate( 45deg );
	transform: rotate( 45deg );
}

#circle1-5 {
	border-width: 7px;
	border-color: rgba( 0, 0, 0, 0 );
	border-top-color: rgba( 0, 0, 0, 0.033 );
	border-left-color: rgba( 0, 0, 0, 0.066 );
	border-bottom-color: rgba( 0, 0, 0, 0.1 );
	margin-top: 3px;
	margin-left: 3px;
	height: 156px;
	width: 156px;
	-webkit-filter: blur(2px);
	filter: blur(2px);
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;

}

@-webkit-keyframes spin {
	0% { 
		-webkit-transform: rotate( 0deg ); 
	}
	100% { 
		-webkit-transform: rotate( 360deg ); 
	}
}

@keyframes spin {
	0% { 
		transform: rotate( 0deg ); 
	}
	100% { 
		transform: rotate( 360deg ); 
	}
}

#circle2 {
	border-top-color: #aaa;
	border-left-color: #aaa;
	-webkit-transform: rotate( -35deg );
	transform: rotate( -35deg );
}

#circle3 {
	border-top-color: #aaa;
	border-left-color: #aaa;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}

#circle4 {
	border-top-color: #666;
	border-left-color: #666;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#joshua {
	background-image: url(joshua.jpg);
	background-position: 0% 34%;
	cursor: pointer;
}

.joshuaHover {
	height: 667px !important;
	background-position: 0% 15% !important;
}

.expandableImage {
	width: 100%;
	height: 270px;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid #a00;
	margin-bottom: 25px;
	-webkit-transition: 1s;
	transition: 1s;
}
.helpQuestion, .formMessage, .surveyMessage, input {
	background-color: rgb(238, 238, 238);
	border: none;
	border-bottom: 1px solid #a00;
	resize: none;
	margin: 0px;
	-webkit-appearance: none;
    -webkit-border-radius: 0px;
	margin-bottom: 5px;
}

.helpQuestion, .formMessage, .surveyMessage {
	width: 100%;
	box-sizing: border-box;
}

td {
	vertical-align: top;
	color: #000;
	padding: 0;
}

table {
	width: 100%;
}

.helpSection, .contactSection {
	width: 100%;
	margin-bottom: 50px;
}

.paySection {
	width: 350px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
}

#downloadResume {
	width: 160px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background: url( resumeIcon.png );
	background-size: 100%;
	-webkit-transition: 1s;
	transition: 1s;
}

#downloadResume:hover {
	-webkit-transform: scale( 1.05 );
	transform: scale( 1.05 );
}

.popup {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.7 );
	z-index: 1000;
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.popupContainer {
    display: table-cell;
    vertical-align: middle;
}

.popupWindow {
	width: 80%;
	max-width: 450px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ddd;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.button {
	padding: 5px;
	width: 50px;
	text-align: center;
	background-color: #ccc;
	border-bottom: 1px solid #a00;
	cursor: pointer;
	color: #000;
	margin-left: auto;
}

.disabledButton {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	pointer-events: none;
}

.popupButton, .popupCancelButton {
	padding: 5px;
	margin-top: 10px;
}

.popupCancelButton {
	position: absolute;
	margin-left: 325px;
}

#payButton {
	width: 100%;
	margin-top: 17px;
	box-sizing: border-box;
}

#payAboutButton {
	width: 100px;
	margin-top: 10px;
	margin-left: 250px;
	font-size: 10px;
	color: #555;
	cursor: pointer;
	text-align: right;
}

.progressOuter {
	width: 100%;
	padding: 5px;
	text-align: center;
	background-color: #ccc;
	border-bottom: 1px solid #a00;
	cursor: pointer;
	color: #000;
	opacity: 0;
	-webkit-transition: 0.25s;
    transition: 0.25s;
}

.progressInner {
	height: 14px;
	width: 0%;
	background-color: #a00;
	-webkit-transition: 0.25s;
    transition: 0.25s;
}

#uploadSend {
	float: left;
}

#uploadFile {
	background-color: rgba(238, 238, 238, 0);
	border: none;
	resize: none;
	margin: 0px;
	margin-left: 40px;
}

.projectTitle {
	line-height: 50px;
	color: #a00;
	font-size: 18px;
}

.projectBody {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;
}

.projectIcon {
	width: 50px;
	height: 50px;
	margin-left: -10px;
	padding-right: 20px;
	float: left;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#projectDotJoshua {
	background-image: url(dotjoshua.png);
}

#projectChewyByte {
	background-image: url(ChewyByte.png);
}

#projectCrunchyMunchy {
	background-image: url(CrunchyMunchy.png);
}

#projectRuffles {
	background-image: url(r.uffl.es.png);
}

#cmsPreviewContainer {
	text-align: center;
}

#cmsPreview {
	width: 100%;
}

.footer {
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #eee;
	border-top: 1px solid #a00;
}

.footerContent {
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	line-height: 50px;
	text-align: left;
	color: rgba( 0, 0, 0, 0.5 );
	text-shadow: 0 -1px rgba( 0, 0, 0, 0.0), 0 1px rgba( 255, 255, 255, 1);
}

.footerLeft {
	float: left;
}

.footerRight {
	float: right;
	cursor: pointer;
}

.transparent {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.opaque {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

input[name=videoVote] { 
	background-color: rgb(238, 238, 238);
	border: none;
	border-bottom: 1px solid #a00;
	resize: none;
	margin: 0px;
	-webkit-appearance: radio;
	margin-bottom: 0px;
	margin-right: 5px;
}

#type {
	height: 100%;
    box-sizing: border-box;
}

#chatType {
	position: fixed;
	bottom: 50px;
	width: 90%;
	max-width: 1000px;
	background: #ddd;
	padding-top: 1px;
	padding-bottom: 10px;
	overflow-x: hidden;
}

#chatHistory {
	padding-bottom: 95px;
	width: 100%;
}

#chatInput {
	width: 80%;
	height: 28px;
	float: left;
    box-sizing: border-box;
	display: inline-block;
}

#chatInputName {
	width: 10%;
	height: 28px;
	float: left;
	color: #a00;
	border-right: 1px solid #a00;
    box-sizing: border-box;
	display: inline-block;
}

#chatSend {
	width: 6%;
	padding-right: 0;
	padding-left: 0;
	float: left;
	display: inline-block;
}

.chatName {
	color: #a00;
}

.chat {
	width: 100%;
	padding: 10px;
	background-color: rgb(238, 238, 238);
	border-bottom: 1px solid #a00;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.blur {
	-webkit-filter: blur(10px);
}
