html, body {
    background-color: #333;
    font-family: AktivGroteskLight, sans-serif;
}

.page {
    transition: 1s;
    height: 100%;
    width: 100%;
}

#content {
    width: 100%;
    height: 100%;
}

#logo {
    width: 200px;
    margin-right: 20px;
}

#home_page {
    color: #ddd;
    font-weight: 100;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jsh_alert_title {
    color: #a00;
}

.jsh_alert_button:hover {
    color: #a00;
}

#jsh_alert_window {
    background: #aaa no-repeat;
    background-size: auto;
    overflow: hidden;
    border: 1px solid rgba(100, 200, 255, 0.2);
    border-radius: 5px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    transition: background-image 5s;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

#jsh_alert_container {
    background-color: rgba(30, 30, 30, 0.4);
}

.transparent {
    opacity: 0 !important;
}

.jsh_blurred {
    filter: none !important;
    -webkit-filter: none !important;
}