html {
    background-color: #333;
}

#content {
    transition: 1s;
}

#logo {
    background: url(logo.svg) no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
}

#jsh_alert_window {
    background: #aaa no-repeat;
    background-size: auto;
    overflow: hidden;
    border: 1px solid rgba(100, 200, 255, 0.2);
    border-radius: 5px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    transition: background-image 1s;
}

#jsh_alert_container {
    background-color: rgba(30, 30, 30, 0.4);
}

.transparent {
    opacity: 0 !important;
}

.jsh_blurred {
    filter: none !important;
}