#nav {
    transition: transform 0.5s;
}

#jsh_alert_title {
    color: #a00;
}

.jsh_alert_button {
    color: #888;
    font-family: sans-serif;
    font-weight: 400;
}

.jsh_alert_button:hover {
    color: #a00;
}

#jsh_alert_window {
    background: #222 no-repeat;
    background-size: auto;
    overflow: hidden;
    border: 1px solid #666;
    border-radius: 5px;
    transition: background-image 1s;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

#jsh_alert_message {
    overflow: hidden;
    font-weight: 800;
    color: #fff;
}

#jsh_alert_title {
    font-family: sans-serif;
    font-weight: 400;
}

#jsh_alert_container {
    background-color: rgba(30, 30, 30, 0.4);
}