html, body {
    background-color: #222;
    font-family: AktivGroteskLight, sans-serif;
}

a {
    color: #f00;
    text-decoration: none;
}

a:hover {
    color: #a00;
}

.page {
    transition: 0.5s;
    height: 100%;
    width: 100%;
}

.page.transparent {
    transform: translateX(-25%);
    filter: blur(5px);
}

#content {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

#logo {
    margin-right: 20px;
}

#home_page {
    color: #ddd;
    font-weight: 100;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_page, #resume_page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 800;
}

#resume_page a {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
}

#contact_page table tr td {
    min-width: 75px;
}

#contact_image {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url(../media/joshua_diaddigo_contact.jpg);
    background-size: cover;
    border: 2px solid #a00;
    margin-right: 15px;
}

#info_page_inner,
#projects_page_inner,
#videos_page_inner {
    width: 100%;
    max-width: 1000px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    padding: 5px;
    box-sizing: border-box;
}

#info_page_inner .title,
#projects_page_inner .title,
#videos_page_inner .title {
    margin-top: 75px;
    color: #aaa;
    font-weight: 800;
    font-size: 26px;
    border-left: 2px solid #700;
    padding-left: 15px;
}

#info_page_inner p,
#projects_page_inner p,
#videos_page_inner p {
    padding-left: 15px;
    padding-right: 17px;
    box-sizing: border-box;
    border-left: 2px solid #777;
    text-align: justify;
}

#info_image_container {
    width: 100%;
    height: 400px;
}

#info_image {
    width: 100%;
    height: 400px;
    background: url(../media/joshua_diaddigo.jpg) 0 35%;
    background-size: cover;
    border-top: 1px solid #a00;
    border-bottom: 1px solid #a00;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
}

#project_page_header {
    text-align: center;
    margin-top: 70px;
    color: #666;
    font-size: 28px;
}

.projects_page_github_link {
    font-size: 14px;
}

.projects_page_image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #a00;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: height 0.5s;
}

.video_page_credits {
    font-size: 10px;
    line-height: 10px;
}

#nav {
    width: 100%;
    animation: nav_in 1s;
    position: fixed;
    background: rgba(34, 34, 34, 0.7);
    padding: 5px;
    box-sizing: border-box;
    z-index: 100;
}

#nav_inner {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#right_aligned_buttons {
    display: inline-block;
    float: right;
}

.nav_item {
    font-family: AktivGroteskStd, sans-serif;
    font-weight: 800;
    color: #ddd;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}
.nav_item:hover, .nav_item a:hover {
    color: #a00;
    transition: 0.5s;
}

.nav_item a {
    text-decoration: none;
    color: #ddd;
}

@keyframes nav_in {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0)}
}

.transparent {
    opacity: 0 !important;
}

.display_none {
    display: none !important;
}

.jsh_blurred {
    filter: none !important;
    -webkit-filter: none !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-track {
    transition: 0.5s;
    background: #111;
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #a00;
}