#terminal_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1001;
    visibility: hidden;
}

#terminal_window {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.3);
    position: relative;
    visibility: visible;
}

#terminal_absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
}

#terminal_ui {
    width: 100%;
    height: 23px;
    background: #ddd;
    border-bottom: 1px solid #7e7e7e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
}

#terminal_title {
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: sans-serif;
    line-height: 24px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    top: 0;
    user-select: none;
    -webkit-user-select: none;
}

.terminal_button {
    border-radius: 50%;
    height: 11px;
    width: 11px;
    border: 0.5px solid #000;
    margin-top: 6px;
    margin-bottom: 6px;
    position: absolute;
    cursor: pointer;
}

.terminal_button:hover {
    opacity: 0.5;
}

#terminal_exit {
    margin-left: 8px;
    background-color: #fc615d;
    border-color: #de4643;
}

#terminal_minimize {
    margin-left: 27px;
    background-color: #fdbc40;
    border-color: #dd9e33;
}

#terminal_fullscreen {
    margin-left: 47px;
    background-color: #34c84a;
    border-color: #27aa35;
}

#terminal_scroll {
    overflow-y: scroll;
    height: 100%;
}

#terminal_content {
    padding: 28px 5px 5px;
    box-sizing: border-box;
    font-family: Menlo, monospace;
    font-size: 12px;
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
}

#terminal_resize_bottom_right {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

#terminal_input_field {
    background: rgba(0, 0, 0, 0);
    color: #fff;
    font-family: Menlo, monospace;
    font-size: 12px;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    border: none;
    line-height: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

#terminal_input_table {
    width: 100%;
    border-collapse: collapse;
}

#terminal_input_table td {
    padding: 0;
    margin: 0;
}

#terminal_input_field_container:before {
    content: "joshua.diaddigo.com:~ guest$";
    position: absolute;
}

#terminal_input_prefix {
    width: 210px;
}